<div (click)="close()">
    <form class="main">
        <input
                class="input"
                [(ngModel)]="inscription"
                (click)="toggle()"
                (input)="onChange(inputName.value)"
                #inputName
        />
        <div class="options" *ngIf="isOpen">
            <div class="option" *ngFor="let option of options | async" (click)="close(); inputName.value=option.name">
                <img class="logo" src="{{option.logo}}" alt="logo">
                <div class="text-block">
                    <div class="name">{{ option.name }}</div>
                    <div class="domain">{{ option.domain }}</div>
                </div>
            </div>
        </div>
    </form>
</div>